<?xml version='1.0' encoding='UTF-8' ?>
<properties>
<!--
	Structure of data on http://www.e1.ru/business/job/:
	
	Vacancy Section
	    + VacancyList page0
	        + VacancyLink
	           - Vacancy
	        + VacancyLink
	           - Vacancy
	        ...
	        + VacancyLink
	           - Vacancy
	    + VacancyList page1
	    ...
	    + VacancyList pageX
	Vacancy Section
	...
	Vacancy Section
-->
<!-- 
	Named CSS queries
-->
	<cssNamedQueries>
		<cssNamedQuery name='vacancyProperty'>
			<cssQuery>td[width=30%%][align=right][valign=top] > strong:contains(%s)</cssQuery>
			<cssArgsCount>1</cssArgsCount>
		</cssNamedQuery>
	</cssNamedQueries>
<!--
	Vacancy Sections
-->
	<vacancySectionProperties>
		<entry>
			<key>name</key>
			<cssQuery>div[id~=secion_\d] a[href~=section=\d]</cssQuery>
			<elementEvaluator>ru.xrm.app.evaluators.VacancySectionNameElementEvaluator</elementEvaluator>
		</entry>
		<entry>
			<key>href</key>
			<cssQuery>div[id~=secion_\d] a[href~=section=\d]</cssQuery>
			<elementEvaluator>ru.xrm.app.evaluators.VacancySectionHrefElementEvaluator</elementEvaluator>
		</entry>
	</vacancySectionProperties>
	
	<vacancyListProperties>
		<entry>
			<key>href</key>
			<cssQuery>div[id~=vacancy_item_\d] a[href~=id=\d]</cssQuery>
			<elementEvaluator>ru.xrm.app.evaluators.VacancyListHrefElementEvaluator</elementEvaluator>
		</entry>
	</vacancyListProperties>
	
	<vacancyListPaginatorProperties>
		<entry>
			<key>href</key>
			<cssQuery>table[border=0][cellspacing=0][cellpadding=3]:not([align=left]) span.big a[href~=search=yes]</cssQuery>
			<elementEvaluator>ru.xrm.app.evaluators.VacancyListPaginatorHrefElementEvaluator</elementEvaluator>
		</entry>
	</vacancyListPaginatorProperties>
	
	<vacancyProperties>
		<entry>
			<key>id</key>
			<cssQuery>input[type=hidden][name=url][value~=/business/job/vacancy.detail.php\?id=\d]</cssQuery>
			<elementEvaluator>ru.xrm.app.evaluators.VacancyIdElementEvaluator</elementEvaluator>
			<propertyTransformer>ru.xrm.app.transformers.ToLong</propertyTransformer>
		</entry>
		<entry>
			<key>jobTitle</key>
			<cssQuery namedQuery='vacancyProperty'/>
			<cssQueryArgs>
				<arg>Должность</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
			<elementEvaluator>ru.xrm.app.evaluators.JobPropertyElementEvaluator</elementEvaluator>
		</entry>  
		<entry>
			<key>dutyType</key>
			<cssQuery namedQuery='vacancyProperty'/>
			<cssQueryArgs>
				<arg>Занятость</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
			<elementEvaluator>ru.xrm.app.evaluators.JobPropertyElementEvaluator</elementEvaluator>
		</entry>
		<entry>
			<key>education</key>
			<cssQuery namedQuery='vacancyProperty'/>
			<cssQueryArgs>
				<arg>Образование</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
			<elementEvaluator>ru.xrm.app.evaluators.JobPropertyElementEvaluator</elementEvaluator>
		</entry> 
		<entry>
			<key>experience</key>
			<cssQuery namedQuery='vacancyProperty'/>
			<cssQueryArgs>
				<arg>Опыт работы</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
			<elementEvaluator>ru.xrm.app.evaluators.JobPropertyElementEvaluator</elementEvaluator>
		</entry>	
		<entry>
			<key>schedule</key>
			<cssQuery namedQuery='vacancyProperty'/>
			<cssQueryArgs>
				<arg>График работы</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
			<elementEvaluator>ru.xrm.app.evaluators.JobPropertyElementEvaluator</elementEvaluator>
		</entry> 
		<entry>
			<key>section</key>
			<cssQuery namedQuery='vacancyProperty'/>
			<cssQueryArgs>
				<arg>Отрасль</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
			<elementEvaluator>ru.xrm.app.evaluators.JobPropertyElementEvaluator</elementEvaluator>
			<propertyTransformer>ru.xrm.app.transformers.VacancySectionPropertyTransformer</propertyTransformer>
		</entry> 
		<entry>
			<key>city</key>
			<cssQuery namedQuery='vacancyProperty'/>
			<cssQueryArgs>
				<arg>Город</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
			<elementEvaluator>ru.xrm.app.evaluators.JobPropertyElementEvaluator</elementEvaluator>
		</entry>
		<entry>
			<key>employer</key>
			<cssQuery namedQuery='vacancyProperty'/>
			<cssQueryArgs>
				<arg>Работодатель</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
			<elementEvaluator>ru.xrm.app.evaluators.JobPropertyElementEvaluator</elementEvaluator>
		</entry>
		<entry>
			<key>date</key>
			<cssQuery namedQuery='vacancyProperty'/>
			<cssQueryArgs>
				<arg>Дата</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
			<elementEvaluator>ru.xrm.app.evaluators.JobPropertyElementEvaluator</elementEvaluator>
			<propertyTransformer>ru.xrm.app.transformers.JobDatePropertyTransformer</propertyTransformer>
		</entry>
		<entry>
			<key>contactInformation</key>
			<cssQuery>td[valign=top] > strong:contains(Контактная информация)</cssQuery>
			<elementWalker>ru.xrm.app.walkers.VacancyContactInformationPropertyElementWalker</elementWalker>
			<elementEvaluator>ru.xrm.app.evaluators.VacancyContactInformationPropertyElementEvaluator</elementEvaluator>
		</entry> 
		<entry>
			<key>presentedBy</key>
			<cssQuery>td[align=right] > strong:contains(Вакансия предоставлена)</cssQuery>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
			<elementEvaluator>ru.xrm.app.evaluators.JobPropertyElementEvaluator</elementEvaluator>
		</entry>
		<entry>
			<key>body</key>
			<cssQuery>td[colspan=2][valign=top]</cssQuery>
			<elementEvaluator>ru.xrm.app.evaluators.JobBodyPropertyElementEvaluator</elementEvaluator>
		</entry>
		<entry>
			<key>salary</key>
			<cssQuery>strong.big > b.big:contains(Вакансия)</cssQuery>
			<elementWalker>ru.xrm.app.walkers.VacancySalaryElementWalker</elementWalker>
			<elementEvaluator>ru.xrm.app.evaluators.VacancySalaryElementEvaluator</elementEvaluator>
			<propertyTransformer>ru.xrm.app.transformers.VacancySalaryPropertyTransformer</propertyTransformer>
		</entry>
	</vacancyProperties>
</properties>
