<?xml version="1.0" encoding="UTF-8"?>
<properties>
<!--
	Structure of data on http://www.e1.ru/business/job/:
	
	Vacancy Section
	    + VacancyList page0
	        + Vacancy
	        + Vacancy
	        ...
	        + Vacancy
	    + VacancyList page1
	    ...
	    + VacancyList pageX
-->
<!-- 
	Named CSS queries
-->
	<cssNamedQueries>
		<cssNamedQuery name="vacancyProperty">
			<cssQuery>td[width=30%%][align=right][valign=top] > strong:contains(%s)</cssQuery>
			<cssArgsCount>1</cssArgsCount>
		</cssNamedQuery>
	</cssNamedQueries>
<!--
	Vacancy Sections
-->
	<vacancySectionProperties>
		<entry>
			<key>href</key>
			<cssQuery>div[id~=secion_\\d] a[href~=section=\\d]</cssQuery>
		</entry>
	</vacancySectionProperties>
	
	<vacancyListProperties>
		<entry>
			<key>href</key>
			<cssQuery>div[id~=vacancy_item_\\d] a[href~=id=\\d]</cssQuery>
		</entry>
	</vacancyListProperties>
	
	<vacancyListPaginatorProperties>
		<entry>
		</entry>
	</vacancyListPaginatorProperties>
	
	<vacancyProperties>
		<entry>
			<key>jobTitle</key>
			<cssQuery namedQuery="vacancyProperty"/>
			<cssQueryArgs>
				<arg>Должность</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
		</entry>  
		<entry>
			<key>dutyType</key>
			<cssQuery namedQuery="vacancyProperty"/>
			<cssQueryArgs>
				<arg>Занятость</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
		</entry>
		<entry>
			<key>education</key>
			<cssQuery namedQuery="vacancyProperty"/>
			<cssQueryArgs>
				<arg>Образование</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
		</entry> 
		<entry>
			<key>experience</key>
			<cssQuery namedQuery="vacancyProperty"/>
			<cssQueryArgs>
				<arg>Опыт работы</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
		</entry>	
		<entry>
			<key>schedule</key>
			<cssQuery namedQuery="vacancyProperty"/>
			<cssQueryArgs>
				<arg>График работы</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
		</entry> 
		<entry>
			<key>kindOfBusiness</key>
			<cssQuery namedQuery="vacancyProperty"/>
			<cssQueryArgs>
				<arg>Отрасль</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
		</entry> 
		<entry>
			<key>city</key>
			<cssQuery namedQuery="vacancyProperty"/>
			<cssQueryArgs>
				<arg>Город</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
		</entry>
		<entry>
			<key>employer</key>
			<cssQuery namedQuery="vacancyProperty"/>
			<cssQueryArgs>
				<arg>Работодатель</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
		</entry>
		<entry>
			<key>date</key>
			<cssQuery namedQuery="vacancyProperty"/>
			<cssQueryArgs>
				<arg>Дата</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
			<propertyTransformer>ru.xrm.app.transformers.JobDatePropertyTransformer</propertyTransformer>
		</entry>
		<entry>
			<key>contactInformation</key>
			<cssQuery namedQuery="vacancyProperty"/>
			<cssQueryArgs>
				<arg>Контактная информация</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
		</entry> 
		<entry>
			<key>presentedBy</key>
			<cssQuery namedQuery="vacancyProperty"/>
			<cssQueryArgs>
				<arg>Вакансия предоставлена</arg>
			</cssQueryArgs>
			<elementWalker>ru.xrm.app.walkers.JobPropertyElementWalker</elementWalker>
		</entry>
		<entry>
			<key>body</key>
			<cssQuery>td[colspan=2][valign=top]</cssQuery>
			<cssQueryArgs/>
		</entry>
	</vacancyProperties>
</properties>
